.footer{
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem;
    text-align: center;

    a{
        color: $white;
    }

    img{
        height: 1.875rem;
        //width: 30px;
        
    }

    @include breakpoint-up(large){
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1);
        grid-template-areas: 
        "logo links cta";
        justify-items: start;
    }

    &__logo{
        margin-top: 0px;
        

        @include breakpoint-down(medium){
            margin-bottom: 1.375rem;
        }

        @include breakpoint-up(large){
            grid-area: logo;
        }
    }

    &__social{
        // @include breakpoint-up(large){
        //     grid-area: logo;
        //     justify-self:last baseline;
            
        // }
        @include breakpoint-down(medium){
            margin-bottom: 1.375rem;
        }
        display: inline-block;
        a:not(:last-child){
            
            margin-right: 1rem;
        }
       
    }

    &__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        a{
            line-height: 2;
        }

        @include breakpoint-down(medium){
            margin-bottom: 1.375rem;
        }

        @include breakpoint-up(large){
            align-items: start;
            grid-area: links;
        }
    }

    &__cta{
        @include breakpoint-down(medium){
            margin-bottom: 1.375rem;
        }

        @include breakpoint-up(large){
            grid-area: cta;
            
        }
    }
}