 .hero{   
    &__image{
        background-image: url('/app/templates/images/—Pngtree—delivery\ service\ with\ maps\ on_5367224.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 10rem;
    }

    &__text{
        
    }
 }

