.login{
    display: flex;
    background-color: $veryLightGrey;
    &__menu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__menu form{
        align-items: center;
    }
}

