.loginS{
    background-color: $veryLightGrey;
    display: flex;
    justify-content: center;
}

.login{
    background-color: $white;
    
    border: 1px solid gray;
    
    text-align: center;
   
}