<footer class="footer">


    <h1 class = "footer__logo">Logistic Company</h1>


    <div class="footer__social">
        <a href="#">
            <img src="{{ url_for('static', filename='images/logo-facebookpng-32255.png') }}" alt="Facebook">
        </a>
        <a href="#">
            <img src="{{ url_for('static', filename='images/logo-ig-png-32457.png') }}" alt="Instagram">
        </a>
        <a href="#">
            <img src="{{ url_for('static', filename='images/logo-twitter-png-40407.png') }}" alt="Twitter">
        </a>
    </div>

    <div class="footer__links">
        <a href="#">Funds</a>
        <a href="#">Support</a>
        <a href="#">Privacy Policy</a>
    </div>

    <div class="footer__cta">
        <a href="#" class="button">Sing up/Log in</a>
       
    </div>

    <div class="footer__copyright">
        &copy; Logistic Company.All Rigths Reserved.
    </div>


</footer>