<div class="profile__menu">
    <a href="{{url_for('shipment.track_shipments')}}">Tracking</a>
    <a href="{{url_for('shipment.show')}}">Shipments</a>
    {% if current_user.has_role(Role.EMPLOYEE) %}
        <a href="{{url_for('employee.show')}}">Employees</a>
    {% endif %}
    {% if current_user.has_role(Role.EMPLOYEE) %}
        <a href="{{url_for('office.show')}}">Offices</a>
    {% endif %}
    {% if current_user.has_role(Role.ADMIN) %}
        <a href="{{ url_for('download_report') }}">Reports</a>
    {% endif %}
</div>